[Desktop Entry]
Encoding=UTF-8
Name=Link to hw3.log - Google Docs
Type=Link
URL=https://docs.google.com/document/d/18H9TBqlqVtsR12qYGGTiyPdTvFINu9hHbc9OwdqWwzY/edit
Icon=text-html
